{% extends 'index.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block nav%}
    <div class="group">
        <form action="/login/" class="login" method="post">
            {% csrf_token %}
            <h3>登录</h3>
            {% if params.msg %}
                <p>{{ params.msg }}</p>
            {% endif %}
            <div class='form-group'>
                <label for="username" class="lb1">用户名:</label>
                <input type="text" class="form-control" id="username" placeholder="用户名" name="username">
            </div>
            <div class='form-group'>
                <label for="upwd" class="lb2">密 码:</label>
                <input type="password" class="form-control" id="upwd" placeholder="密码" name="upwd">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn1" value="登录"/>
                <a href="/register/" class="btn btn-default btn2">注册</a>
            </div>
        </form>
    </div>
{% endblock %}
